#contact__form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 0;

    a {
        width: 100%;
        text-align: center;
        color: $black;
        margin: 0.2rem;
    }
    button[type="submit"] {
        color: gray;
        text-decoration: line-through;
        text-decoration-color: red;
        text-decoration-thickness: 5px;  
    }
}