#gallery {
  padding: 2rem 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;

  .gallery__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
  }

  .gallery__explain {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem;
  }

  .gallery__reminder {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #333;
  }



  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
	
	/* animate opacity, left, width over a given duration */
	transition: opacity 2s, width 2s, left 2s, font-size 2s, color 2s;


    .gallery__item {
      margin: 1rem;
      border-radius: 10px;
      overflow: hidden;
      width:30%;
      height: 300px;
      border-radius: 25px;
      box-shadow: 20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;


      @media screen and (max-width: 969px) {
        width: 45%;
      }
        
      @media screen and (max-width: 649px) {
        width: 85%;
      }



      
      /* test fot mobile view */
      /* base mobile styles */
      #sidebar {
        transition: opacity 2s;
        width: 300px;
        overflow: hidden;
      }

      /* portrait */
      @media screen and (orientation:portrait) { 
        /* portrait-specific styles */ 
        #sidebar {
          opacity: 0;
          width: 0;
        }
      }

      /* landscape */
      @media screen and (orientation:landscape) {
        /* landscape-specific styles */
        #sidebar {
          opacity: 1;
        }
      }
      /* end test mobile view */



      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 10px #333;

        .gallery__cover {
          box-shadow: 0 0 10px #333;
          border-radius: 5px;
          animation: mymove 5s infinite;
          transition: all 0.3s ease-in-out;
        }

        @keyframes mymove {
          0% {
            background-position: right bottom
          }

          25% {
            background-position: center;
          }

          100% {
            background-position: left top;
          }
        }

      }

      .gallery__card {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

        transition: all 1s ease-in-out;

        .gallery__cover {
          width: 100%;
          height: 80%;
          background-size: cover;
          background-position: center;
        }

        .gallery__content {
          width: 100%;
          height: 20%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;


          .gallery__content--title {
            width: 90%;
            font-size: 1.1rem;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
}