#home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin: 2rem auto;
  padding: 0;
  color: $black;
  background-color: rgb($white, 0.1);
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.3);
  text-shadow: 1px 1px 2px $white;


  h1{
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem auto;
    padding: 0;
    width: 100%;
}


  .download{
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem auto 2rem auto;
    padding: 1rem 2.5rem 1rem 3rem;
    overflow: hidden;
    transition: 0.5s;

    .download__icons{
      opacity: 0;
      position: absolute;
      left: 1rem;
        }

    a{
      color: $color-1;
      text-decoration: none;
    }
    &:hover{
      .download__icons{
        opacity: 1;
      filter: invert(1);
      animation-name: downloading;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      }

      a{
        text-decoration: underline;
        color: $selected;
      }
      }
    }
    @keyframes downloading {
      0% {
        top: -10%;
        opacity: 0;
      }
      50% {
        top: 30%;
        opacity: 1;
      }
      52% {
        top: 50%;
        opacity: 1;
      } 
      100% {
        top: 110%;
        opacity: 0;
      }
    }


  .background_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: invert(1) opacity(0.1);

  }

  section {
    width: 90%;
    margin: 1rem auto 3rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-1;
      margin-top: 1rem;
      opacity: 0.1;
    }
    
    
    h2 {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      text-align: center;
      margin: 2rem;
      padding: 0;
      width: 100%;
    }


    .typewriter {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      margin: 1rem;
      padding: 0;
      width: 100%;

      .Typewriter__wrapper {
        strong {
          text-shadow: 1px 1px 1px $black;
        }
      }

      .cursor {
        font-size: 1.5rem;
        display: inline-block;
        animation: blink 1s linear infinite;
        opacity: 0;
      }

      @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }


    }
    
    .left {
      width: 60%;
      float: left;

      text-align: center;
      p {
        font-size: 1.2rem;
        font-weight: 500;
      }

      
      ul {
        margin-left: 3rem;
        
        li {
          font-size: 1.2rem;
          font-weight: 500;
          
          &:before {
            content: "•";
            color: $selected;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          &:last-child {
            margin-bottom: 2rem;
          }
          &:first-child {
            margin-top: 2rem;
          }
        }
      }

      


    }

    .right {
      width: 40%;
      float: right;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      .logo {
        margin: 0.5rem;
        max-height: 50px;
        display: inline;
      }


      .portrait,
      .home__img {
        display: block;
        margin: auto;
      }
      
      .home__img {
        object-fit: scale-down;
        max-width: 100%;
      }
      
      .portrait {
        border-radius: 50%;
        max-width: 70%;
        max-height: 70%;
        }


    }

  }
  
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border-radius: 18px;
    transition: 1s;
    box-shadow: 0 0 0px rgba(51, 51, 51, 0.3);

    h1{
      font-size: 3rem;
      line-height: 3rem;
      margin: 1rem;
    }

    section {
      width: 100%;

      h2{
        font-size: 2rem;
        line-height: 2rem;
        margin: 1rem;
      }

      .left {
        width: 100%;
        margin: 1rem;
      }

      .right {
        width: 90%;
        margin: auto;

        .portrait {
          margin: 0 auto;
          max-width: 30%;
          }
          .home__img {
            margin: 0 auto;
            max-width: 70%;
            }
      }
    }
  }

  @media screen and (max-width: 500px) {

        .portrait {
          max-width: 50%;
          }

  }
  
}