  #project {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 0;
    color: $black;
    text-shadow: 1px 1px 2px $white;
    margin: 3rem auto 1rem auto;


    h1 {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      text-align: center;
      margin: 2rem auto;
      padding: 0;
      width: 100%;
    }


    .nav {
      margin: 0.5rem;
      text-decoration: underline;
      text-decoration-color: blue;
      color: $black;
    }


    .project__description {
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 22, 44, 0.5);
      width: 98%;
      padding: 1rem;
      margin: auto;
      margin-top: 1rem;

      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
      }

      a {
        width: fit-content;
        display: block;
        text-decoration: underline;
        text-decoration-color: blue;
        color: $black;
      }

      p {
        text-align: left;
        line-height: 2rem;
      }

      .project__techno,
      .project__method {
        text-align: left;
        line-height: 2rem;
        display: inline-block;
        width: auto;
      }

      .project__list{
        display: inline;

      }
      .tag {
        display: inline;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 5px;
        border: 2px solid $selected;
        background-color: rgb($selected, 0.2);
        padding: 0.2rem 0.5rem;
        margin: auto 0.2rem;
      }


      strong {
        font-size: 0.8rem;
        font-weight: 700;
        color: red;
      }

      .project__list--action {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 0.5rem;

        li {
          display: inline-block;
          margin-left: 1rem;
          padding: 0;
          list-style: none;
        }
      }

      .tag {
        font-size: 1rem;
        font-weight: 700;
        border-radius: 5px;
        border: 2px solid $selected;
        background-color: rgb($selected, 0.2);
        padding: 0.2rem 0.5rem;
      }

      .html {
        border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0, 0.2);
      }

      .css {
        border-color: rgb(0, 0, 255);
        background-color: rgb(0, 0, 255, 0.2);
      }

      .sass {
        border-color: rgb(204, 102, 152);
        background-color: rgb(204, 102, 152, 0.2);
      }

      .js {
        border-color: rgb(240, 219, 79);
        background-color: rgb(240, 219, 79, 0.2);
      }

      .vuejs {
        border-color: rgb(66, 184, 131);
        background-color: rgb(66, 184, 131, 0.2);
      }

      .react {
        border-color: rgb(97, 219, 251);
        background-color: rgb(97, 219, 251, 0.2);
      }

      .axios {
        border-color: #555da7;
        background-color: rgb(#555da7, 0.2);
      }

      .php {
        border-color: rgb(137, 147, 190);
        background-color: rgb(137, 147, 190, 0.2);
      }

      .wp {
        color: rgb(68, 65, 64);
        border-color: rgb(68, 65, 64);
        background-color: rgb(0, 116, 156, 0.2);
      }

      .mysql {
        border-color: rgb(227, 143, 0);
        background-color: rgb(227, 143, 0, 0.2);
      }

      .nodejs {
        border-color: rgb(68, 136, 62);
        background-color: rgb(68, 136, 62, 0.2);
      }

      .express {
        border-color: rgb(0, 153, 0);
        background-color: rgb(0, 153, 0, 0.2);
      }

      .mongodb {
        border-color: rgb(0, 104, 74);
        background-color: rgb(0, 104, 74, 0.2);
      }

      .github {
        border-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0, 0.2);
      }

      .photoshop {
        border-color: rgb(48, 198, 238);
        background-color: rgb(48, 198, 238, 0.2);
      }
    }

    .imgDiapo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      p {
        text-align: center;
        font-weight: 700;
        margin: 1rem auto 0 auto;
      }

      img {
        border-radius: 25px;
        box-shadow: 1px 1px 10px rgba(0, 22, 44, 0.5);
        max-width: 70%;
        max-height: 500px;
        margin: 0.5rem auto 1rem auto;
      }
    }
  


  @media screen and (max-width: 900px) {
    .project__description {
      width: 100%;
      padding: 0.5rem;
      margin: auto;
      margin-top: 1rem;

      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
      }


      p,
      a {
        text-align: center;
        line-height: 2rem;
        margin: auto;
      }

      .project__techno,
      .project__method {
        text-align: center;
        line-height: 2rem;
        display: block;
        width: 100%;
      }

      .project__list{
        display: flex;
        justify-content: center;
         width: 100%;
      }

    }
  }
}