// nav {
//   width: 100%;
//   background-color: papayawhip;
//   border-radius: 5px;
//   padding: 0.5rem;
//   display: flex;
//   justify-content: center;
//   box-shadow: 1px 1px 7px $Raspberry_Blush;

//   @media screen and (max-width: 1251px) {
//     padding: 0 20px;
//   }

  .nav-container {

    background-color: red;

    .App-logo {
      display: flex;
      align-items: center;
      
      h3 {
        transform: translate(15px, 2px);
        font-size: 1.5rem;
        font-family: $font-3;
      }
      img {
        height: 26px;
        width: 26px;
      }
    }
    
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      
      .welcome {
        transform: translateY(2px);

        @media screen and (max-width: 590px) {
          display: none;
        }
        
        h5 {
          font-family: $font-3;
        }
      }
      
      li {
        display: inline-block;
        text-decoration: none;
        padding: 0.3rem;
        margin: 0.3rem;
        color: black;
        transition: 0.5s;

        a{
          color: black;
          text-decoration: none;
        }

      }
        & li:hover {
          text-shadow: 0 7px 7px black;
          font-weight: bold;
          padding-bottom: 0.5rem;
        }

        @media (min-width: 425px) {
          flex-direction: row;
          justify-content: center;
        }

    }
  }
// }