#products {
    width: 70%;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid $selected;
    box-shadow: inset 0 0 0 1px $selected;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: $selected;
        margin: 1rem 0;
    }

    input[type="search"] {
        width: 50%;
        padding: 0.5rem 1rem;
        margin: auto;
        border-radius: 10px;
        border: 1px solid $selected;
        font-size: 1rem;
        font-weight: 600;
        color: $selected;
        transition: all 0.3s ease-in-out;
    }

    .product__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        box-shadow: 0 0 10px #33333334;

        .product__form--tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;


            label {
                font-size: 1.2rem;
                font-weight: 600;
                color: $selected;
                margin: 0.5rem;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                border: 1px solid $selected;
                border-radius: 15px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: $selected;
                    color: $white;
                }

                input[type="checkbox"] {
                    display: none;
                }

            }

            .checked {
                background-color: $selected;
                color: $white;

                &:hover {
                    background-color: red;
                    color: $white;
                    border-color: $white;
                }
            }
        }

        .product__form--info {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
            width: 80%;

            input[type="text"],
            input[type="number"] {
                width: 40%;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                border-radius: 10px;
                border: 1px solid $selected;
                font-size: 1rem;
                font-weight: 600;
                color: $selected;
                transition: all 0.3s ease-in-out;
            }


            .btn__submitform {
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                border-radius: 10px;
                border: 1px solid $selected;
                font-size: 1rem;
                font-weight: 600;
                color: $selected;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: $selected;
                    color: $white;
                }
            }
        }
    }

    .product-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .products__table {
        width: 100%;
        border-spacing: 10px;
        border-radius: 10px;
        margin: 1rem 0;
    }

    .product-info {
        padding: 0 1rem;
        box-shadow: inset 0 -1px 0px $selected;


            .product-name {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            .product-price {
                font-size: 1.2rem;
                font-weight: 600;
                margin: 0.5rem;
            }

            .product-tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: start;

                span {
                    font-size: 0.7rem;
                    font-weight: 600;
                    color: $selected;
                    margin: 0.2rem;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    border: 1px solid $selected;
                    border-radius: 15px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: $selected;
                        color: $white;
                    }
                }
            }

        

    }

    @media screen and (max-width: 950px) {

        width: 90%;

        .product__form {
            p{
                font-size: 1.2rem;
                margin: 0.5rem;
                color: $selected;
            }
            
            .product__form--info {
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px 10px;
            grid-template-areas:
                "input1 input1 input1 button"
                "input2 input2 input2 button";

            input[type="text"],
            input[type="number"]  {
                width: 100%;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                border-radius: 10px;
                border: 1px solid $selected;
                font-size: 1rem;
                font-weight: 600;
                color: $selected;
                transition: all 0.3s ease-in-out;
            }

            input[type="text"] {
                grid-area: input1;
            }

            input[type="number"] {
                grid-area: input2;
            }

            .btn__submitform {
                grid-area: button;
                width: 90%;
                height: 80%;
            }


        }
    }
    }

    @media screen and (max-width: 600px) {

        width: 100%;
        padding: 0.5rem;

        .product__form .product__form--info {
            width: 100%;

        }
    }

}