/* Global user */
.users {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 2px solid $selected;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 20px;
  margin: 8px auto;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $selected;
    margin-bottom: 1rem;
  }

  .user__search {
    width: 50%;
    padding: 0.5rem 1rem;
    margin: auto;
    border-radius: 10px;
    border: 1px solid $selected;
    font-size: 1rem;
    font-weight: 600;
    color: $selected;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      border: 1px solid $white;
      background-color: $selected;
      color: $white;
    }
  }


  table {
    width: 100%;
    transition: all 0.5s ease-in-out;


    thead {
      align-items: center;
      margin-bottom: 1rem;
      padding: 0 1rem;
      border-bottom: 1px solid $selected;
      font-size: 1.2rem;
      font-weight: 600;
      color: $selected;

      th {
        padding: 0.5rem 0;
      }
    }

    tbody {
      tr {
        background-color: $white;
        padding: 0 1rem;
        border-bottom: 1px solid $selected;
        font-size: 1rem;

        td {
          padding: 0.5rem 0;
          text-align: center;
        }
      }
    }
  }

  

  .user__btn {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: $selected;
    border: 1px solid $white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: $white;
    transition: all 0.3s ease-in-out;

    a {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      background-color: $white;
      border: 1px solid $selected;
      color: $selected;

      a {
        color: $selected;
      }
    }
  }
  
  
    /* for delete modal */
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    
      .modal-content {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    
        p {
          margin-bottom: 20px;
        }
    
        button {
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          margin-right: 10px;
          cursor: pointer;
    
          &:hover {
            background-color: #0062cc;
          }
        }
      }
    }


  @media screen and (max-width: 900px) {


    .user__search {
      width: 60%;
    }

    table {
      width: 70%;
      margin: 0 auto;
    }

    thead {
      display: none;
    }

    tbody {

      tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-items: flex-end;
        border: 2px solid $selected;
        border-radius: 20px;
        margin: 8px auto;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


        td {
          text-align: center;
          padding: 0.5rem 0;
          font-size: 1rem;
          width: 100%;


          &:before {
            content: attr(data-label);
            font-weight: 600;
            color: black;
            //display: inline-block;
            margin: 0 1rem 0 0;
            text-align: right;
            width: 50%;
            float: left;

          }

        }
      }
    }

  }


  @media screen and (max-width: 650px) {
    .user__search {
      width: 100%;
    }

    table {
      width: 100%;
      margin: 0 auto;
    }
  }
}


/* for User Details */
#userDetails {

  margin: 1rem 0;
  padding: 1.5rem 0.2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


  .user__info__container {
    //margin: auto;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
    .user__info {
      margin: 0.5rem 0;
      margin-bottom: 10px;
      font-size: 1.2rem;      
      width: auto;

        strong {
          font-weight: 600;
          color: $selected;
        }
    }
    
        .title{
          font-size: 2rem;
          font-weight: 600;
          color: $selected;
          margin: 1rem auto;
          width: 100%;
          text-align: center;
        }
    
    input {
      width: 100%;
      min-width: 90px;
      max-width: 300px;
      transition: width 0.25s;
    }

    select {
      width: auto;
      padding: 0.2rem 0.4rem;
      font-size: 1.2rem;
      font-weight: 600;
      border: none;
      background: transparent;
      color: $selected;
      transition: all 0.3s ease-in-out;
    }

    .action__button {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      width: 100%;
      background-color: papayawhip;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;


      .user__btn {
        width: 100%;
        padding: 20px 15px;
        border-right: 1px solid #333;
        text-align: center;

        button {
          background-color: transparent;
          margin: 0 auto;
        }
      }

      .no-border {
        border: none;
      }

      cursor: pointer;
      transition: all 0.3s ease-in-out;

    }
  }
}

/* for User Update */
.edit-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-weight: bold;

      input {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 300px;
        font-size: 1em;
      }
    }

    button[type='submit'] {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #0080ff;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #0066cc;
      }
    }
  }
}
